// app global css in SCSS form

.myBg-green1{
    background-color: #28c3a9;
}

.myBg-green2{
    background-image: linear-gradient(to left,#248e59,#197647);
}

.myBg-green3{
    background-color: #00915a;
}

.myBg-green4{
    background-color: #27bb69;
}

.myBg-green5{
    background-image: linear-gradient(#238c57,#50df54);
}